*.jpg
*.jpeg
*.png
*.gif
*.pyc
*.psd
*.json
*.mov
*.mp3
*.ovg
*.ogv
*.ogg
*.mp4
*.webm
*.pdf
yeaa
settings.py
jquery.royalslider.min.js
royalslider.css
.DS_Store
new-old/
/uploaded/
/data/
/static_work/
