{% extends "mobile/base.html" %}

{% block content %}
<style type="text/css">
	.background{
		background-image: url("/../static/uploaded/{{bkImg}}");
	}
</style>
<section id="about">
	<div id="containerAbout">
		<div class="space-from-top">
			<h1>About</h1>
			<p>{{about|safe}}</p>
		</div>

		<div class="space-from-top">
			<h2>Process</h2>
			<p>{{process|safe}}</p>
		</div>
	</div>

</section>
<script type="text/javascript">
// window.onload = function(){
// 	var element = $(".background")[0];
// 	$(element.parentNode).scroll(function(){
// 		$(element).css('top': $(this).scrollTop());
// 	}
// }
</script>
{% endblock %}

{% block about %}
	active-link
{%endblock%}
