{% extends "mobile/base.html" %}
{% block pagename %}
about
{% endblock %}

{% block content %}
<style type="text/css">
	.background{
		background-image: url("/../static/uploaded/{{bkImg}}");
	}
</style>
<section id="about">
	<div id="containerAbout">
		<div>
			<h1>About</h1>
			{{about|safe}}
		</div>

		<div>
			<h2>Process</h2>
			{{process|safe}}
		</div>
	</div>

</section>
<script type="text/javascript">
// window.onload = function(){
// 	var element = $(".background")[0];
// 	$(element.parentNode).scroll(function(){
// 		$(element).css('top': $(this).scrollTop());
// 	}
// }
</script>
{% endblock %}
