<!DOCTYPE html lang="en">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xmlns:x2="http://www.w3.org/2002/06/xhtml2">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>Dot Dot Dash</title>

		<!--Description, Keywords-->
		<meta name="description" content="OCAD University’s Faculty of Design is announcing a call for proposals for Urban Ecologies 2013, a conference that will examine the impact of five intersecting themes that are shaping the future of design in our cities.">

		<meta name="keywords" content="Urban Ecologies, 2013, OCAD University, design, Ontario College of Art and Design, conference, TDBank, Toronto Dominion, research, architecture, healthcare, visualization, urban planning, community">

		<!--For Mobile Devices-->
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css">
	    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
	    <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>

		<link rel="stylesheet" href="/static/css/mobile.css">

		<script type="text/javascript">
		WebFontConfig = {google: { families: [ 'Montserrat:700,400:latin' ] }};
		(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();
		</script>

	</head>

<body>

<div data-role="page" id="page1" class="{% block pagename %}{% endblock %}">
	<div class="background"></div>

	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<a href="#dddpanel" data-iconshadow="false" data-shadow="false" data-corners="false" data-theme="d" id="top-
		left"><img src="/../static/assets/menu-back.png"></a>
		{% block extrabutton %}
		{% endblock %}
	</div>

	<div data-role="content" data-enhance="false">{% block content %}{% endblock %}</div>

	<div data-role="panel"  data-display="overlay" id="dddpanel" data-enhance="false">
		<div class="panel-content">
			<ul id="nav">
				<li><a href="/" data-transition="slide" class="{% block home%}nav-inactive{%endblock%}">Home</a></li><li>
				<a href="/about/" data-transition="slide" class="{% block about%}nav-inactive{%endblock%}">About</a></li><li>
				<a href="/services/" data-transition="slide" class="{% block services%}nav-inactive{%endblock%}">Services</a></li><li>
				<a href="/clients/" data-transition="slide" class="{% block clients%}nav-inactive{%endblock%}">Clients</a></li><li>
				<a href="/work/" data-transition="slide" class="{% block work%}nav-inactive{%endblock%}">Work</a></li>
			</ul>
		</div>
	</div>
</div>



</body>
</html>