<!DOCTYPE html lang="en">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xmlns:x2="http://www.w3.org/2002/06/xhtml2">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Dot-Dot-Dash</title>

		<!--Description, Keywords-->
		<meta name="description" content="OCAD University’s Faculty of Design is announcing a call for proposals for Urban Ecologies 2013, a conference that will examine the impact of five intersecting themes that are shaping the future of design in our cities.">

		<meta name="keywords" content="Urban Ecologies, 2013, OCAD University, design, Ontario College of Art and Design, conference, TDBank, Toronto Dominion, research, architecture, healthcare, visualization, urban planning, community">

		<!--For Mobile Devices-->
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	    <link rel="stylesheet" href="/../static/css/jquery.mobile.structure-1.3.1.css">
	    <!-- <link rel="stylesheet" href="/../static/css/jquery.mobile-1.3.1.min.css"> -->

	    <script src="/../static/js/jquery.min.js"></script>
	    <script src="/../static/js/jquery.mobile-1.3.1.min.js"></script>

		<link rel="stylesheet" href="/static/css/mobile.css">

	</head>

<body>
	
<div data-role="page" id="page1" class="{% block pagename %}{% endblock %}">
	
	<div data-role="header">
		<a href="#defaultpanel" id="top-left">&#8801; Menu</a>
	</div> 

  <div data-role="panel" id="defaultpanel" data-position="left" data-display="overlay" data-dismissible="true" data-theme="a" class="ui-panel ui-panel-position-left ui-panel-display-overlay ui-body-a ui-panel-animate ui-panel-open">
	<div class="panel-content">
		<ul>
			<li><a href="/" data-transition="slide">Home</a></li><li>
			<a href="/about/" data-transition="slide">About</a></li><li>
			<a href="/services/" data-transition="slide">Services</a></li><li>
			<a href="/clients/" data-transition="slide">Clients</a></li><li>
			<a href="/work/" data-transition="slide">Work</a></li>
		</ul>
	</div>
  </div>
	
      <div class="ui-panel-inner"><h3>Left Panel: Overlay</h3><p>This panel is positioned on the left with the overlay display mode. The panel markup is <em>after</em> the header, content and footer in the source order.</p><p>To close, click off the panel, swipe left or right, hit the Esc key, or use the button below:</p><a href="#demo-links" data-rel="close" data-role="button" data-theme="a" data-icon="delete" data-inline="true" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-left ui-btn-up-a"><span class="ui-btn-inner"><span class="ui-btn-text">Close panel</span><span class="ui-icon ui-icon-delete ui-icon-shadow">&nbsp;</span></span></a></div>
    
    
    
	
</div>


<div data-role="content" data-enhance="false">
	
	{% block content %}



	{% endblock %}
	
</div>

<div class="background"></div>

</div>
</body>
</html>