{% extends "mobile/base.html" %}
{% block pagename %}
home
{% endblock %}

{% block content %}
<style type="text/css">
	.background{
		z-index: 0;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		/*background-image: url("/../static/uploaded/{{text.0.placeHold}}");*/
		background-position:center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		padding: 0;
		/*z-index: -1;*/
	}
</style>



<img class="logo" src="/../static/assets/logo.png">
<div class="table fixed">
	<div class="center">
		<h1 class="quote">
			{{q1}}
		</h1>
		<h1 class="quote">
			{{q2}}
		</h1>
	</div>
</div>


<div class="background"></div>
<script type="text/javascript">
	window.onload = function() {
		var quotes = $(".quote");
		var displayed = false;
		quotes.each(function(index){
			if(Math.random()>1/quotes.length && !displayed){
				console.log("displayed",quotes[index]);
				quotes[index].style.display = "inline-block";
				displayed = true;
			}
			if(index == quotes.length-1 && !displayed){
				console.log("displayed",quotes[index]);
				quotes[index].style.display = "inline-block";
			}
		});
	}
</script>
{% endblock %}
