{% extends "mobile/base.html" %}
{% block pagename %}

{% endblock %}

{% block content %}
<style type="text/css">
	.background{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		/*background-image: url("/../static/uploaded/{{placeHold}}");*/
		background-position:center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		padding: 0;
		z-index: -1;
	}
</style>


<h1>Services</h1>
<p>{{services.text|safe}}</p>
<h1>Social Media and Strategy Planning</h1>
<p>{{smsp.text|safe}}</p>
<h1>Branding</h1>
<p>{{branding.text|safe}}</p>
<h1>Research</h1>
<p>{{research.text|safe}}</p>
<h1>Creative Development</h1>
<p>{{creativedev.text|safe}}</p>
<h1>Content Production</h1>
<p>{{contentproduction.text|safe}}</p>
<h1>Results Analytics</h1>
<p>{{resultsanalytics.text|safe}}</p>


<div class="background"></div>

<script type="text/javascript">
//$(".background").css({"height":$(window).height()})
</script>

{% endblock %}
