{% extends "mobile/base.html" %}

{% block extrabutton %}
<!-- 	<a href="#defaultpanel" data-iconshadow="false" data-shadow="false" data-corners="false" data-theme="d" id="top-left">Work</a> -->
{% endblock %}

{% block content %}
<style type="text/css">
	.background{
		background-image: none;
	}
</style>


<div class="space-from-top project-section">
	<h1>{{title}}</h1>
	{%for page in pages%}

		{%if page.pdf.media%}
			<div class="pdf-link">
				{% for media in page.images%}
					<img src="/../static/uploaded/{{media.title}}">
				{%endfor%}
				<a href="/../static/uploaded/{{page.pdf.media.0.location}}" target="_blank">Pdf Link</a>
			</div>
		{%elif page.video%}
			<div class="video-link">
				{% for media in page.images%}
					<img src="/../static/uploaded/{{media.title}}">
				{%endfor%}
				<a href="{{page.video}}"><img src="/../static/assets/play.png" style="width:100px !important;" height="auto"></a>
			</div>
		{%elif page.text%}
			<p>
				{{page.text|safe}}
			</p>
		{%elif page.images%}
			{% for media in page.images%}
				<img src="/../static/uploaded/{{media.title}}"> <br>
			{%endfor%}
		{%endif%}
	{%endfor%}
</div>

{% endblock %}



{% block work %}
	active-link
{%endblock%}

