/* COLOUR PALETTE */

/*

#000000 - Black
#3d3d3d - Dark Grey Secondary
#c6c8bb - Grey Secondary
#248183 - Green Accent
#d4bf44 - Yellow Accent

*/

/* CUSTOM OVERRIDES FOR JQUERY MOBILE */
	.ui-bar-a {
		border: none;
		color: #fff;
		font-weight: normal;
		text-shadow: none;
		background-image: none;
	}

	.ui-shadow {
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		box-shadow: none;
	}

	.ui-header .ui-btn-inner, .ui-footer .ui-btn-inner, .ui-mini .ui-btn-inner, .ui-panel-inner {
		padding:0;
	}

/*Background transparent*/
	.ui-body-c{
		background-image: none;
		background-color: transparent;
		text-shadow:none;
	}

	.ui-panel{
		background-color: #fff;
		-moz-transition: 0.2s ease-in;
		-webkit-transition: 0.2s ease-in;
		-o-transition: 0.2s ease-in;
		transition: 0.2s ease-in;
	}

	.ui-panel-closed{
		width: 0em;
		display: inline-block;
	}

/*Menue Button*/
	.ui-btn-left{
		top: 0!important;
		left: 0!important;
	}
	.ui-btn-up-d {
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		box-shadow: none;
		border: none;
		background: none;
		font-weight: normal;
		color: #fff;
		text-shadow: none;
		background-image: none;
	}
	.ui-btn-hover-d {
		color: #fff;
		border:none;
		background-color: #248183;
		text-shadow: none;
		font-weight: normal;
		background-image: none;

		-moz-transition: 0.2s ease-in;
		-webkit-transition: 0.2s ease-in;
		-o-transition: 0.2s ease-in;
		transition: 0.2s ease-in;
	}
	.ui-btn-text {
		font-family: 'Montserrat', sans-serif;
		color:#fff;
		font-size: 3em;
		padding: 1.5em 0.5em 1.5em 0.5em;
	}

/*NavBar Style*/
	#nav{
		margin: 0;
		padding: 0;
	}

	#nav li {
		width: 100%;
		text-align: center;
	}

	#nav li a {
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		font-size: 1.5em;
		color: #3d3d3d;
		text-shadow:none;

		text-decoration: none;
		display: inline-block;
		width: 100%;
		padding: 1em 0 1em 0;
	}

	#nav li a:hover {
		color: #fff;
		background-color: #248183;
	}

/*General content*/
	h1,h2,h3,h4{
		font-family: 'Montserrat', sans-serif;
	}
	h1, h2 {
		text-align: center;
		font-size: 2em;
		text-transform: uppercase;
	}

	h3 {
		text-align: center;
		font-size: 1em;
		text-transform: uppercase;
	}

	p {
		font-family: courier;
		line-height: 1.6em;
		text-align: left;
	}

	.ui-content{
		padding: 0;
		min-height: inherit;
	}

	.background{
		z-index: -1;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-position:center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		padding: 0;
		display: block;
	}

	.table{
		display: table;
		min-height: inherit;
		width: 100%;
	}

	.center{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

	.fixed{
		top: 0;
		left: 0;
		position: fixed;

	}

	.hidden{
		display: none !important;
	}
/*Index*/
	.logo{
		width: 100%;
		height: auto;
		background-color: #fff;
		padding: 1em;
		margin-top: 2em;
	}
	.quote{
		text-align: left;
		padding: 1em;
		text-transform: uppercase;
		font-size: 2em;
		color: #3d3d3d;
		text-shadow:none;

		background-color: #fff
	}
	/* top an bottom borders*/

/*About*/
	#about strong{
		color: #d4bf44;
		font-size: 1.2em;
	}

/*clients*/
	#clients .intro{
		padding: 3em 1em 0.5em 1em;
		background-color: #fff;
	}



	#clients .client{
		display: inline-block;
		width: 50%;
	}
	#clients img{
		height:auto;
		width: 100%;
	}
	#clients p{
		padding: 1.2em 0 1.2em 0;
		border-top: solid 2px #000;
		border-bottom: solid 2px #000;
	}

/*Work*/
	.work-scection .intro{
		padding: 3em 1em 0.5em 1em;
		background-color: #fff;
	}

	.work-scection{
		padding: 3em 1em 0.5em 1em;
	}

	.work-scection .project{
		border-top: solid 2px #000;
		/*margin: 0 0 1em 0;*/
		font-weight: normal;
		text-decoration: inherit;
		display: inline-block;
		background-color: #fff;
		-moz-transition: 0.2s ease-in;
		-webkit-transition: 0.2s ease-in;
		-o-transition: 0.2s ease-in;
		transition: 0.2s ease-in;
	}

	.work-scection .project:hover{
		background-color: #248183;
	}
	.work-scection .project:hover h2, .work-scection .project:hover h3,.work-scection .project:hover p{
		color: #fff;
		font-weight: normal;
	}

	.ui-link{
		color: inherit!important;
	}

	.work-scection h2,h3,p{
		margin:  0.2em 0 0.2em 0;
		text-align: left;
	}

	.work-scection h1 img{
		width: 50%;
		max-width: 250px;
	}
	/*
	have the content be same as desktop similar...
	*/

#containerAbout div{
	background-color:#fff;
	margin: 14em 0 14em 0;
	box-shadow: 0px 3px 10px #000;
	padding: 0.5em 1em 0.5em 1em;
}




/*Services*/
	#services img{
		width: 150px;
	}

	.service-image {
		text-align: center;
		position: relative;
		top: 3em;
		background-color: none;
	}

	.servicesContainer {
		text-align: center;
		margin: 0 0 3em 0;
		background-color: #fff;
		padding: 3em 1em 0.5em 1em;
	}

	.services-intro {
		background-color: #fff;
		padding: 3em 1em 0.5em 1em;
	}

	#services h3 {
		display: none;
	}







/* JQUERY END */
/*
html,body{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}

body{
}

h1{
	text-align: left;
}

p{
	margin: 0 1em 3em 1em;
}

a{
	text-decoration: none;
	color: inherit;
}

img{
	width: 100%;
	height: auto;
}

#nav {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#nav li{
	margin: 0px;
	padding:  1em 1em 1em 1em;
	text-align: left;
}

#nav li:hover{
	background-color: #fcf;
}

#nav a{
	display: inline-block;
	width: 100%;
	height: 100%;
}

.table{
	display: table;
	min-height: inherit;
	width: 100%;
}

.fixed{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.logo{
	width: 90%;
	height: auto;
	margin-top: 20%;
}

.center{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.quote{
	padding-top: 1em;
	color: #333;
	display: none;
}

.client{
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}*/
/*.ui-content {
	padding: 0;
}

.ui-mobile .ui-header, .ui-mobile .ui-footer {
	background-color: #f00;
	height: 2.5em;
}

.ui-grid-d > :nth-child(n) {
	width: auto;
}

.ui-grid-d a{
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
}

.ui-btn-inner {
	padding: 0 0.4em 0 0.4em !important;
}*/
