/* COLOUR PALETTE */

/*

#000000 - Black
#3d3d3d - Dark Grey Secondary
#c6c8bb - Grey Secondary
#248183 - Green Accent
#d4bf44 - Yellow Accent

*/

html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: courier;
}

section{
	min-height: 100%;
	width:100%;
	z-index: 1;
	position: relative;
}

/*this is just for me to see the text*/
p {
	position: relative;
	/*background-color: rgba(255,255,255,0.8);*/
	color: #000;
}

section h1, section h2 {
	text-align: center;
}

#quote1 {
	font-size: 2.5em;
	font-family:"Relative Bold", sans-serif;
	width: 65%;
	margin: 4em auto 0 auto;
	color: #fff;
}

#quote2 {
	font-size: 2.5em;
	font-family:"Relative Bold", sans-serif;
	width: 80%;
	margin: 2em auto 0 auto;
	color: #fff;
	text-align: center;
}


/*for layering of the content all ements must be relative to work*/
nav {
	position: relative;
	list-style: none;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	font-family:"Relative Bold", sans-serif;
	background-color: #fff;
	top: 2em;
	/*padding: 1em 0 1em 0;*/
	z-index: 5;
}

nav img {
	width: 70%;
}

nav li {
	display: inline-block;
	margin: 0 0.5em 0 0.5em;
}

nav ul {
	background-color: #fff;
	width: 100%;
	padding: 0.7em 0 0.5em 0;
}

nav a {
	text-decoration: none;
	color: #000;
	font-size: 0.8em;
}

h1{position: relative;}
h2{position: relative;}
h3{position: relative;}
div{
	position: relative;
}

.sub-section {
	/*background-color: rgba(255,255,255,0.9);*/
	background-color: #fff;
/*	margin-bottom: 10em;
*/	padding: 0.6em 0 1.6em 0;
	box-shadow: 0px 2px 10px #000;
}

#about h1 {
	width: 100%;
}

.sub-section div {
	width: 80%;
	margin: 0 auto 0 auto;
}

.about p{
	columns:100px 2;
	column-gap: 2.5em;
	-webkit-columns:100px 2; /* Safari and Chrome */
	-webkit-column-gap: 2.5em;
	-moz-columns:100px 2; /* Firefox */
	-moz-column-gap: 2.5em;
}

.process p {
	columns:100px 2;
	column-gap: 2.5em;
	-webkit-columns:100px 2; /* Safari and Chrome */
	-webkit-column-gap: 2.5em;
	-moz-columns:100px 2; /* Firefox */
	-moz-column-gap: 2.5em;
}

.sub-section p {
	vertical-align: top;
	margin: 0;
	margin-bottom: 0.8em;
	line-height: 1.5em;
}

h1, h2 {
	font-family:"Relative Bold", sans-serif;
	text-transform: uppercase;
	font-size: 2em;
}

#clients .sub-section {
	background-color: #fff;
	padding: 0.6em 0 5em 0;
	box-shadow: 0px 2px 10px #000;
}

.clients-columns {
	columns:100px 2;
	column-gap: 2.5em;
	-webkit-columns:100px 2; /* Safari and Chrome */
	-webkit-column-gap: 2.5em;
	-moz-columns:100px 2; /* Firefox */
	-moz-column-gap: 2.5em;
	padding: 0 0 1.5em 0;
}


/*// background stuff //*/
/* still need to make the video full screen */
#backgroundVideo{
	width: 100%;
	height: 100%;
	position: absolute;
	background-position:center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}


.video-js{
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
}

.video-js video{
	width: auto !important;
	height: auto !important;
	min-height: 100%;
	min-width: 100%;
}

#bkvid {
}

#stickNav{
	/*do not add margin to this element*/
	z-index: 2 !important;
	margin: 0px;
}

.dots {
	background-image: url('http://localhost:8000/static/assets/dot-pattern.png');
	height: 100%;
	width: 100%;
	position: relative;
}

.stuck .dots {
	position: fixed;
}

.backgroundImage{
	width: 100%;
	height: 100%;
	position: absolute;
	background-position:center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

.background-wrapper{
	position: absolute;
	width: 100% ;
	/*height: 100% !important;*/
}

.stuck{
	position: fixed !important;
	top: 0;
}

.for-space {
	margin-top: 20em;
	width: 100%;
}

#services .for-space {
	margin-top: 10em;
	width: 100%;
}

#services img{
	max-width: 150px;
	width: 12%;
}

#clients img{
	width: 150px;
	margin: 1em 1em 0 1em;
}

.contact-columns {
	width: 80%;
	margin: 4em auto 0 auto;
	border-top: solid 2px #fff;
	border-bottom: solid 2px #fff;
	padding: 2em 0 1em 0;
}

#contact {
	color: #fff;
}

#contact h1{
	color: #000;
}

#contact h3{
	width: 45%;
	display: inline-block;
	font-size: 2.6em;
	font-family:"Relative Bold", sans-serif;
	vertical-align: top;
	margin: 0 1em 0 0;
	line-height: 1.4em;
	text-align: right;
}

#contact ul {
	width: 35%;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	list-style: none;
	margin: 0.5em 0 0 0;
	padding: 0;
}

#contact li {
	margin-bottom: 3em;
}

#contact a {
	text-decoration: none;
	color: #c6c8bb;
}

#contact a:hover {
	text-decoration: none;
	color: #248183;
}

.phone {
	font-size: 2.6em;
	font-family:"Relative Bold", sans-serif;
	white-space: nowrap;
}

.email {
	font-size: 2.6em;
	font-family:"Relative Bold", sans-serif;
	white-space: nowrap;
}

.logo-container {
	border-top: solid 2px #000;
	border-bottom: solid 2px #000;
	text-align: center;
}

/*// servicesection stuff //*/

#servicescontent {
	/*background-color: rgba(255,255,255,0.9);*/
	background-color: #fff;
/*	margin-bottom: 10em;
*/	padding: 0.6em 0 3em 0;
	box-shadow: 0px 2px 10px #000;
}

#servicescontent div{
	columns:100px 2;
	column-gap: 2.5em;
	-webkit-columns:100px 2; /* Safari and Chrome */
	-webkit-column-gap: 2.5em;
	-moz-columns:100px 2; /* Firefox */
	-moz-column-gap: 2.5em;
}

.servicesection {
	/*for css to work this must be a height*/
	/*height: 300px;
	overflow: hidden;
	
	-webkit-transition: height 1s;
	-moz-transition: height 1s;
	-ms-transition: height 1s;
	-o-transition: height 1s;
	transition: height 1s;*/
	
	position: absolute;
	height:350px;
	display:block;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	opacity: 1;
	bottom: -180px;
}

.textnoshow{
	bottom: -500px;
	opacity: 0;
	position: absolute;
	display:block;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
}

.servicesection div{
	background-color: #c6c8bb;
	width: 80%;
	height: 100%;
	margin: 0 auto 0 auto;
	padding: 0.5em 1em 0 1em;
	font-size: 1em;
	/*columns:100px 2;
	column-gap: 2.5em;
	-webkit-columns:100px 2;*/ /* Safari and Chrome */
	/*-webkit-column-gap: 2.5em;
	-moz-columns:100px 2;*/ /* Firefox */
	/*-moz-column-gap: 2.5em;*/
}

.servicesection h1 {
	margin: 0;
}

#servicebackgrounds{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.bknoshow{
	display: none;
}

#buttoncontainer {
	text-align: center;
	margin: -2em auto 0 auto;
	width: 100%;
	white-space: nowrap;
}

#buttoncontainer a {
	margin: 0 1% 0 1%;
}


/* Projects Section */


.project h2 {
	font-size: 1.5em;
	margin: 0 0 0 0;
	text-align: left;
}

.project h3 {
	font-size: 1em;
	margin: 0 0 0 0;
	font-weight: normal;
}

#work ul {
	margin: 0 auto 0 auto;
	padding: 0;
	width: 100%;
}

#work {
	text-align: center;
}

.project {
	display: inline-block;
	width: 40%;
	background-color: #fff;
	height: 9em;
	margin: 0;
	overflow: hidden;
	text-align: left;
	vertical-align: top;
	padding: 0.5em 0 0 0.5em;
}

.project p {
	font-size: 0.4em;
	margin: 0 0 0 0;
}

.project:hover {
	background-color: #248183;
	color: #fff;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
}

::selection {
	background: #248183; /* Safari */
}

::-moz-selection {
	background: #248183; /* Firefox */
}

#work h2 {
	width: 40%;
	min-width: 325px;
	margin: 2em auto 1em auto;
	border-top: solid 2px #fff;
	border-bottom: solid 2px #fff;
	padding: 0.5em 0 0.6em 0;
	color: #fff;
}

#work img{
	width: 80px;
	vertical-align: middle;
	margin: 0 0.5em 0 0;
}

#contact img {
	width: 300px;
}

/*#sos-projects {
	margin: 3em auto 0 auto;
	display: block;
	text-align: center;
	width: 40%;
	background-color: transparent;
}

#sos-projects h2 {
	text-align: center;
}

#sos-projects div {
	text-align: center;
}

#sos-projects img {
	height: 100px;
}
*/
/* COLOUR PALETTE */

/*

#000000 - Black
#3d3d3d - Dark Grey Secondary
#c6c8bb - Grey Secondary
#248183 - Green Accent
#d4bf44 - Yellow Accent

*/