<!DOCTYPE html lang="en">

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
	<meta name="google-site-verification" content="lrOy45-wbLv_JErp4UiichqBYNA2hZgxcacfDVkT8bA" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<meta name="description" content="DOT DOT DASH is an independent communications firm specializing in the development of handcrafted content and communications. Our practice leans towards the digital and social landscapes, but extends into fully integrated services and offers robust in-house production capacities.">
	
	<meta name="keywords" content="dotdotash, dotdotdash.ca, communications firm, handcrafted content,long-term conversations with customers, campaign">

<!--[if lt IE 9]><!-->
	<script src="/../static/js/modernizr.js"></script>
<!--<![endif]-->
	<title>Dot Dot Dash</title>

	{% block css %}
	{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}

{% block js %}
{% endblock %}

</body>
</html>