<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<meta name="description" content="OCAD University’s Faculty of Design is announcing a call for proposals for Urban Ecologies 2013, a conference that will examine the impact of five intersecting themes that are shaping the future of design in our cities.">
	
	<meta name="keywords" content="Urban Ecologies, 2013, OCAD University, design, Ontario College of Art and Design, conference, TDBank, Toronto Dominion, research, architecture, healthcare, visualization, urban planning, community">

	<title>Dot Dot Dash</title>
	{% block css %}
	{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}

{% block js %}
{% endblock %}

</body>
</html>