<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<meta name="description" content="DOT DOT DASH is an independent communications firm specializing in the development of handcrafted content and communications. Our practice leans towards the digital and social landscapes, but extends into fully integrated services and offers robust in-house production capacities.">
	
	<meta name="keywords" content="dotdotash, dotdotdash.ca, communications firm, handcrafted content,long-term conversations with customers, campaign">

	<title>Dot Dot Dash</title>
	{% block css %}
	{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}

{% block js %}
{% endblock %}

</body>
</html>