{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="//cloud.typography.com/717268/708642/css/fonts.css" />
<link rel="stylesheet" type="text/css" href="/../static/css/style.css">

<link rel="stylesheet" href="/../static/css/royalslider.css">
<link rel="stylesheet" href="/../static/css/rs-default.css">

<script type="text/javascript">
  (function() {
    var config = {
      kitId: 'pvh7czu',
      scriptTimeout: 3000
    };
    var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
  })();
</script>

<!--[if IE]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://alsocollective.github.io/also-cdn/js/j-tube.js"></script>

<script src="/../static/js/waypoints.min.js"></script>
<script src="/../static/js/waypoints-sticky.js"></script>
<script src="/../static/js/jquery.royalslider.min.js"></script>

<![endif]-->


{% endblock %}

{% block content %}
<div id="backgroundVideo" class="stuck">
	<div id="youtube-container">
	<div id="youtube-player"></div>
	</div>
</div>

<nav>
	<img src="/../static/assets/logo.png">
	<ul id="stickNav">
		<li id="aboutLink"><a href="#about">About</a></li>
		<li id="serviceLink"><a href="#services">Services</a></li>
		<li id="clientsLink"><a href="#clients">Clients</a></li>
		<li id="ourWorkLink"><a href="#work">Our Work</a></li>
		<li id="contactLink"><a href="#contact">Contact</a></li>
		<li id="facebook"><a href="https://www.facebook.com/DOTDOTDASHCOMMUNICATIONS"><img src="/static/assets/facebook.png"></a></li>
		<li id="instagram"><a href="http://instagram.com/dotdotshot"><img src="/static/assets/instagram.png"></a></li>
	</ul>
</nav>

<!-- do not add spaces between these elements -->
<section class="quote"><div id="quote1">{{home.q1|safe}}</div></section>

<div id="static-quote">
	THE BEST BRANDS ARE THE ONES THAT AIM TO MAKE LIFE BETTER.
</div>
<div id="static-quote">
	LIFE IS MADE BETTER BY USING CREATIVITY TO SERVE COMMUNITY, CULTURE AND NATURE.
</div>

<section id="about">
	<div class="backgroundImage" id="first-background-image" style="background-image: url('/../static/uploaded/{{about.bkImg}}')"><div class="dots"></div></div>

	<div class="sub-section about">
		<h1>About</h1>
		<div>
			<p>{{about.about|safe}}</p>
		</div>
	</div>

	<div class="for-space"></div>

	<div class="sub-section process">
		<h2>THE WAY WE WORK</h2>
		<div>
			<p>{{about.process|safe}}</p>
		</div>
	</div>

	<div class="for-space"></div>

</section>

<section class="quote"><div id="quote2">{{home.q2|safe}}</div></section>

<section id="services">

	<div class="for-space"></div>
	<div class="for-space"></div>

	<div id="servicebackgrounds">
		<div class="backgroundImage"  style="background-image: url('/../static/uploaded/{{services.services.image}}')"><div class="dots"></div></div>
		<div class="backgroundImage bknoshow"  style="background-image: url('/../static/uploaded/{{services.smsp.image}}')"><div class="dots"></div></div>
		<div class="backgroundImage bknoshow"  style="background-image: url('/../static/uploaded/{{services.branding.image}}')"><div class="dots"></div></div>
		<div class="backgroundImage bknoshow"  style="background-image: url('/../static/uploaded/{{services.research.image}}')"><div class="dots"></div></div>
		<div class="backgroundImage bknoshow"  style="background-image: url('/../static/uploaded/{{services.creativedev.image}}')"><div class="dots"></div></div>
		<div class="backgroundImage bknoshow"  style="background-image: url('/../static/uploaded/{{services.contentproduction.image}}')"><div class="dots"></div></div>
		<div class="backgroundImage bknoshow"  style="background-image: url('/../static/uploaded/{{services.resultsanalytics.image}}')"><div class="dots"></div></div>
	</div>

	<div id="servicescontent" class="sub-section">
		<h1>Services We Offer</h1>
		<div>
			{{services.services.text|safe}}
		</div>
	</div>

	<div id="buttoncontainer"> <!-- This should probably -->
		<a href="#smsp" id="smsp"><img src="http://also-static.com/social.png"></a>
		<a href="#branding" id="branding"><img src="http://also-static.com/branding.png"></a>
		<a href="#research" id="research"><img src="http://also-static.com/research.png"></a>
		<a href="#creativedev" id="creativedev"><img src="http://also-static.com/creative.png"></a>
		<a href="#contentproduction" id="contentproduction"><img src="http://also-static.com/content.png"></a>
		<a href="#resultsanalytics" id="resultsanalytics"><img src="http://also-static.com/analytics.png"></a>
	</div>

	<div id="smsp" class="servicesection textnoshow">
		<div>
		<h2>Social Media Strategy + Planning</h2>
		{{services.smsp.text|safe}}
		</div>
	</div>
	<div id="branding" class="servicesection textnoshow">
		<div>
		<h2>Branding</h2>
		{{services.branding.text|safe}}
		</div>
	</div>
	<div id="research" class="servicesection textnoshow">
		<div>
		<h2>research</h2>
		{{services.research.text|safe}}
		</div>
	</div>
	<div id="creativedev" class="servicesection textnoshow">
		<div>
		<h2>Creative Development</h2>
		{{services.creativedev.text|safe}}
		</div>
	</div>
	<div id="contentproduction" class="servicesection textnoshow">
		<div>
		<h2>Content Production</h2>
		{{services.contentproduction.text|safe}}
		</div>
	</div>
	<div id="resultsanalytics" class="servicesection textnoshow">
		<div>
		<h2>Results + Analytics</h2>
		{{services.resultsanalytics.text|safe}}
		</div>
	</div>
	<div class="for-space"></div>
</section>

<section id="clients">

	<div class="sub-section">
		<h1>Clients</h1>
		<div class="clients-half">
			{{clients.text|safe}}
		</div>

	<div class="logo-container">
		{% for img in clients.images%}
			<a href="{{img.link}}"><img src="/../static/uploaded/{{img.title}}"></a>
		{% endfor %}
	</div>

	</div>

	<div class="for-space"></div>

</section>

<section id="work">

	<div class="for-space"></div>

	<script type="text/javascript">
	var works = {
		{%for project in work%}

		"{{project.slug}}":{
			"slug":"{{project.slug}}",
			"Links":[
			{%for page in project.pages%}
				"projects/{{project.slug}}/{{page.slug}}/"{% if forloop.last %}{% else %},{%endif%}
			{%endfor%}
			]
		}{% if forloop.last %}{% else %},{%endif%}
		{%endfor%}
	}
	</script>
<!-- which ever element has the class .project and id of the slug will be what is clickable to get royalslider of the project, THE id and project class are to be kept together -->

<h2>Client Projects</h2>
<ul>
{% for project in work %}{%if project.sos%}{%else%}<li class="project" id="{{project.slug}}">

	<h3>{{project.title}}</h3>
	<h4>{{project.subtitle}}</h4>
	<p>{{project.description}}</p>

</li>{%endif%}{% endfor %}
</ul>

<h2><img src="/../static/assets/sos-logo.png"> Projects</h2>

<div id="sos-projects">
<h3>What is Studios on Sustainability?</h3>
<p>Knowing that there are a lot of really important grassroots organizations out there that need a bit of help, we founded of Studios On Sustainability. It is a program that brings together the volunteered services of creative individuals with grassroots organizations. We bridge existing communications challenges to create valuable solutions that help solve environmental and social issues. We turn audiences into communities.</p>
</div>

<ul>
{% for project in work %}{%if project.sos%}<li class="project" id="{{project.slug}}">

	<h3>{{project.title}}</h3>
	<h4>{{project.subtitle}}</h4>
	<p>{{project.description}}</p>

</li>{%endif%}{% endfor %}
</ul>

<div class="for-space"></div>

</section>

<section id="contact">
	<div class="backgroundImage" style="background-image: url('/../static/uploaded/{{contact.bkImg}}')"><div class="dots"></div></div>
	<div class="sub-section">
		<h1>Contact</h1>
	</div>

	<div class="contact-columns">
		{{contact.text|safe}}
	</div>

</section>

{% endblock %}


{% block js %}
<!--[if !IE]>-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://alsocollective.github.io/also-cdn/js/j-tube.js"></script>

<script src="/../static/js/waypoints.min.js"></script>
<script src="/../static/js/waypoints-sticky.js"></script>
<script src="/../static/js/jquery.royalslider.min.js"></script>

<!--<![endif]-->
<script src="/../static/js/script.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42487410-1', 'dotdotdash.ca');
  ga('send', 'pageview');
</script>

{% endblock %}
